# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Restore dependencies
      run: dotnet restore src/Laraue.Apps.RealEstate.ApiHost
    
    - name: Build
      run: dotnet build src/Laraue.Apps.RealEstate.ApiHost --no-restore -c Release
    
    - name: Upload
      if: github.ref == 'refs/heads/main'
      uses: marcodallasanta/ssh-scp-deploy@v1.2.0
      with:
       host: ${{ secrets.SSH_HOST }} # "example.com"
       port: ${{ secrets.SSH_PORT }} # 22
       user: ${{ secrets.SSH_USER }} # "user"
       password: ${{ secrets.SSH_PASSWORD }} # "password"
       local: src/Laraue.Apps.RealEstate.ApiHost/bin/Release/net9.0/*
       remote: "/home/laraue/real-estate-api-host"
       post_upload: echo "Uploaded successfully"
